<h2>{{name}}</h2>
<ng2-smart-table [settings]="settings" [source]="rows"></ng2-smart-table>
<!-- <table id='table' datatable [dtOptions]="dtOptions" class="table table-striped table-bordered" cellspacing="0" width="100%">
</table> -->
<!-- <div class="container-fluid">
    <ngx-datatable
    class="dark"
    [rows]="rows"
    [columns]="columns"
    [headerHeight]="40"
    [summaryRow]="true"
    [footerHeight]="40"
    [limit]="100"
    rowHeight="auto"
    [reorderable]="reorderable"
  >
  </ngx-datatable>
  </div> -->